Source: gbglehrerclient
Section: utils
Priority: optional
Maintainer: Felix Schoppe <felix.schoppe@gbg-seelze.eu>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/gbglehrerclient
#Vcs-Git: https://salsa.debian.org/debian/gbglehrerclient.git

Package: gbglehrerclient
Architecture: all
Description: GBG-Client für Lehrer-Geräte
 Dieses Paket konfiguriert einen Lehrerzimmer-PC.
Replaces: gdm3, gbgclient, gbgsusclient, gbglzclient, systemd
Conflicts: gbgclient, gbgsusclient, gbglzclient
Depends: thunderbird, thunderbird-locale-de, thunderbird-gnome-support, musescore3, flatpak, tesseract-ocr-deu, gimagereader, openssh-server, cryptsetup
