Source: gbgclient-hirsute
Section: utils
Priority: optional
Maintainer: Felix Schoppe <felix.schoppe@gbg-seelze.eu>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/gbgclient-hirsute
#Vcs-Git: https://salsa.debian.org/debian/gbgclient-hirsute.git

Package: gbgclient-hirsute
Architecture: all
Depends: openssh-server, cryptsetup, wireguard, zbar-tools
Description: Standard-GBG-Client
 Das ist der Standard-GBG-Client.
Replaces: gdm3, gbgsusclient, gbglzclient, gbglehrerclient
Conflicts: gbglehrerclient, gbgsusclient, gbglzclient, gnome-initial-setup, gbgclient
