Source: gbglehrer-testclient3
Section: utils
Priority: optional
Maintainer: Felix Schoppe <felix.schoppe@gbg-seelze.eu>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/gbglehrer-testclient3
#Vcs-Git: https://salsa.debian.org/debian/gbglehrer-testclient3.git

Package: gbglehrer-testclient3
Architecture: all
Depends: thunderbird, thunderbird-locale-de
Description: GBG-Test-Client für Lehrer-Geräte
 Dieses Paket konfiguriert einen Lehrer-PC.
Replaces: gdm3, gbgclient, gbgsusclient, gbglzclient
Conflicts: gbgclient, gbgsusclient, gbglzclient
