[Desktop Entry]
Type=Application
Name=Reset all connections and initialize gbgclient
Exec=/usr/bin/delete_connections.sh
X-GNOME-Autostart-enabled=true
